/src/main/spider/all.log
/src/main/spider/error.log
/src/main/util/all.log
/src/main/util/error.log
/.idea/vcs.xml
/.idea/SLTG.iml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore

/src/main/data/word2vec/
/src/main/data/rumdetect2017.zip
/src/main/result/textCNN/
/.idea/libraries/rumdetect2017.xml
/src/main/result/
/src/main/GAN/pretrained_models/
/src/main/GAN/pretrained_models_old/
/src/main/GAN/4-12/
/src/main/GAN/dataset/
